services:
  - type: web
    name: trust-aesthetic-api
    env: node
    rootDir: apps/server
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000